/*Navigation bar*/
body{
    background-image: url(./assest/Background1.svg)
}
.navbar{
    position: absolute;
    width: auto;
    height: 7rem;
    left: 0;
    top: 0;
    border: 1px solid #fff;
}

.navbar-brand{
    position: relative;
    left: 0.5rem;
    font-family: Nosifer Caps;
    font-style: normal;
    font-weight: 800;
    font-size: 3vw !important;
    line-height: 71px;
    letter-spacing: 0.05em;

    background:  -webkit-linear-gradient(#3D0206, #545856);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    justify-content: center;
}

.button-selected {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;

    color: #000000;
    background: none;
    border: none;
}

.button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;

    color: #6C5CE7;
    background: none;
    border: none;
}

/*Home Page*/

.heading{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    line-height: 118px;

    color: #000000;
}

.sub-heading {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 102px;

    color: #000000;
}

.startbtn{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    color: #FFFFFF;
    background: #6C5CE7;
    border-radius: 999px;
    border: 0px solid;
    height: 4vw !important;
    width: 15vw !important;
}


.artwork1 {
    display: flex;
    margin-top: 1vw !important;
    height: 40vw !important;
    width: 40vw !important;
}

.artwork2 {
    margin-top: 5vw !important;
    margin-right: 3vw !important;
    height: 40vw !important;
    width: 40vw !important;
}

.para {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 4.5vw;

    color: #000000;
}

.whybtn {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3vw;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5vw;
    
    color: #FBFAC9;
    background: #F6B3A5;
    border-radius: 8px;
    border: 0px solid;
}

.artwork3 {
    margin-top: 5vw !important;
    height: 60vw !important;
    margin-left: -10vw;
}

.para2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;

    display: flex;
    justify-content: center;
    align-items:flex-end;
    align-self:flex-end;

    color: #000000;
}

/* Footer */

.footer{
    background-image: url(./assest/Wave.svg);
}

.amber-email{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;

    display: flex;
    letter-spacing: -0.5px;
    margin-left: 1vw;
    color: #6C5CE7;
}

.text1{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 0.7vw;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
    /* 32% Gray Light */
    color: #ADADAD;
}

input{
    width: 90% !important;
    outline:none;

    background: none;
    border: 0px solid;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000; 
}

.box{
    background: #F0D6CB;
    border-radius: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box{
    background: #F0D6CB;
    border-radius: 0.7vw;
    height: 5vw;
}

.message{
    width: 100%;
    outline: none;
    background: none;
    border: 0px solid;
    resize: none;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #575143;
}

.sendbtn{
    background: #69615B;
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    border-radius: 16px;
    border: 0px solid;
    width: 15vw;
    height: 5vw;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #FFFFFF;    
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}

.social-media {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.icon{
    height: 6vw !important;
    width: 6vw !important;
}

.icon:hover{
    background-color: #000000;
    border: 50%;
    height: 6vw !important;
    width: 6vw !important;
}

.menu2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.25px;

    /* Black */
    color: #2D3436;
}